* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

	.container{
		height: 100vh;
		position: relative;
	}
   
	.slider{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
   
	.show{
		display: block 
	}
   
	.item{
		display: none;
		width: 80vw;
		height: 50vh;   
	}
      
	.img-slide{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.next{
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translatex(-50%);
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.5);
		cursor: pointer;
		text-align: center;
	}


	.prev{
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translatex(-50%);
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.5);
		cursor: pointer;
		text-align: center;
	}
   
   
	.hidden{
		display: none;
	} 